form {
    width: min(450px, 100%);
    margin: 30px auto;
    padding: 1rem;
    background-color: #ffffff;
}

input, textarea, select {
        padding: 8px 16px;
        border: 1px solid black;
        outline: none;
        font-size: 16px;
        background-color: #ffffff;

        &:focus {
            background-color: #ffffff;
        }

        &::placeholder {
            color: black;
        }
    }
    
    input[type="radio"] {
    width: 16px;
    height: 16px;
    accent-color: black;
}

input[type="range"], input[type="file"] {
        accent-color: black;
    }

input[type="file"] {
    background-color: black;
}