.car-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th {
        padding: .75rem .5rem;
        background-color: black;
        color: white;
    }
    
    td, th {
        border: 2px solid black;
        text-align: center;
    }

    tbody {

        tr:nth-child(even) {
            background-color: #ddd;
        }

        .car-image {
            position: relative;
            height: 120px;
            width: 120px;

            img {
                width: 100%;
                padding: 8px;
            }

        }

        .car-date {
            min-width: 100px;
        }

        .car-name {
            padding: 0 10px;
            font-size: 1.25rem;
            font-weight: bold;
            color: black;
            text-align: center;
        }

        .car-description {
            font-style: italic;
            color: #212121;
            padding: 0 15px;
            min-width: 350px;
        }

        .car-price {
            padding: 0 15px;
        }

        .car-link {
            text-align: center;
            
            button {
                padding: 5px;
                background-color: black;
                border-radius: 3px;
                cursor: pointer;
                color: white;
                margin: 0 2px;
                border: 1px solid black;
                transition: 0.6s;

                &:hover {
                    background-color: white;
                    color: black;
                    
                }
            }
        }
    }
}