.order-item {
    display: flex;
    gap: .5rem;
    align-items: center;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(220, 20, 60, 0.15);
    }

    .item-image img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
    }

    .item-info {
        flex: 1;
        font-weight: 500;
    }

    .item-price {
        font-size: 12px;
    }

    .item-subtotal {
        font-size: 12px;
    }

    .item-input-dialog {
        width: 8ch;
        height: 34px;
        border: 1px solid black;
    }

    .item-actions button {
        color: white;
        padding: 4px;
        background-color: black;
        border: 1px solid black;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.6s;

        &:hover {
            background-color: white;
            border: 1px solid black;
            color: black;
        }
    }
}

@media screen and (width < 520px) {

    .order-item {
        display: flex;
        flex-wrap: wrap;
    }
}